<div>
  <p>
    <b>User:</b>
    <%= comment.user.email %>
  </p>
  <p>
    <b>Comment:</b>
    <%= safe comment.comment %>
  </p>
  <p>
    <%= link_to 'Destroy Comment', [@post, comment],
                :confirm => 'Are you sure?',
                :method => :delete if can? :destroy, comment%>
  </p>
</div>
