<div>
  <small>
    <%= comment.user -%>
    <%= link_to 'Destroy Comment', [@post, comment],
                :confirm => 'Are you sure?',
                :method => :delete if can? :destroy, comment -%>
  </small>
  <div>
    <%= safe comment.comment -%>
  </div>
</div>
