<div>
  <small>
    <%= comment.user -%>
    <%= link_to 'Edit', [:edit, comment.commentable, comment] if can? :update, comment -%>
    <%= link_to 'Destroy', [comment.commentable, comment],
                :confirm => 'Are you sure?',
                :method => :delete if can? :destroy, comment -%>
  </small>
  <div>
    <%= safe comment.body -%>
  </div>
</div>
