/*
 *= require bootstrap-responsive
 *= require bootstrap
 *= require_self
*/

body {
    position: relative;
    padding-top: 90px;
    background-color: #fff;
    background-image: url(grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
}
