defaults: &defaults
  domain: ""
  site_name: "Start Up"
  keywords: ["start up", "Start Up"]
  description: "Start Up site"
  admin_mail: ""
  version: "0.1"
  upload:
    attachment: ["doc", "docx", "pdf"]
    picture: ["jpg", "tif", "png", "gif"]
  mailer:
    sender: ""
  tokens:
    google_analytics: ""
    oauth:
      weibo:
        app_key: ""
        token: ""
      xiaonei:
        app_key: ""
        token: ""
        scope: ["status_update"]
        separator: " "
  upyun:
    separator: "!"
    username: ""
    password: ""
    images:
      versions: ["100x100"]
      bucket: ""
      bucket_domain: ""
#    assets:
#      bucket: ""
#      bucket_domain: ""

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  deployment:
    app_name: "start_up"
    path: "/var/www/apps"
    bundle_wrapper_cmd: "/usr/local/rvm/bin/bundle"
    rvm_ruby: "ruby-1.9.3-p392"
    server: ""
    repository: ""
    branch: "master"
    worker_processes: 2
    deploy_user: ""
    backup_path: "/var/www/backups"

staging:
  <<: *defaults
  deployment:
    app_name: "start_up_staging"
    path: "/var/www/apps"
    bundle_wrapper_cmd: "/usr/local/rvm/bin/bundle"
    rvm_ruby: "ruby-1.9.3-p392"
    server: ""
    repository: ""
    branch: "master"
    worker_processes: 2
    deploy_user: "worker"
    backup_path: "/var/www/backups"
