<p>你好 <%= @resource.email %>!</p>

<p>您的帐号被请求重置密码，您可以通过点击下面的邮件继续。</p>

<p><%= link_to '修改我的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不是您亲自操作的，请忽略这封邮件。</p>
<p>您的帐号密码不会被改变，除非您点击上边的链接。</p>

